<div class="add-picture-bar">
    <div class="add-picture"><span class="mega-octicon octicon-flame"></span></div>
</div>
<div class="form-div">
    <form class="add-image-form">
        <input class="new-url" type="text" placeholder="Image URL"/>
        <input class="new-caption" type="text" placeholder="Image Caption">
    </form>
    <div class="buttons-div">
    <button class="cancel-button"><span>Cancel</span></button>
    <button class="add-image-button"><span class="octicon octicon-device-camera"></span><span >Add image</span></button>
    </div>
</div>
